@charset "UTF-8";


html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: #a9c850;
    width: 100%;
    height: 100%;
}

div#view {
    width: 100%;
    height: 100%;
}

section#principal {
    background-color: #a9c850;
    background-image: url("../imagens/hortela2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

div#principal-flex {
    height: 75vh;
    display: flex;
    align-items: center;
}
#video iframe {
    width:40vw;
    height: 60vh;
    margin-left: 1vw;
    margin-right: 3vw;
    border-radius: 20px;
}

hgroup#copy-principal {
    margin-left: 1vw;
    margin-right: 1vw;
}
section h1 {
    color: white;
    text-align: center;
    font-size: 5.5vw;
    text-shadow: 2px 2px 4px #ff3900;
    margin: 0;
}
section h2#headline {
    color: yellow;
    text-align: center;
    font-size: 3vw;
    text-shadow: 5px 5px 10px green;
    margin: 10px 0;
}
section h2#sub-headline {
    color: white;
    text-align: center;
    font-size: 5.5vw;
    text-shadow: 2px 2px 4px #ff3900;
    margin: 0;
}

button.botao_acao, a.link_acao {
    width:60vw;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    background-color: #ff3b00;
    padding: 0;
    border-top-width: 5px;
    border-top-color: #333333;
    border-left-width: 2px;
    border-left-color: #1a1a26ff;
    border-bottom-width: 1px;
    border-bottom-color: #1a1a26ff;
    border-right-width: 1px;
    border-right-color: #333333;
}
button.botao_acao:hover   h3 {
   font-size: 2.47vw;
}
button.botao_acao:hover span {
    font-size: 1.47vw;
 }
a.link_acao {
    text-decoration: none;
}
section#principal h3, .botao_acao h3 {
    color: white;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
}
section#principal span, .botao_acao span {
    color: white;
    font-size: 1.5vw;
}


/* Segunda seção */
section#secao_dois {
    background-color: #377000;
    height: 180vh;
    width: 100%;
    margin-top: -20px;
    overflow: hidden;
}
div#cabecalho_secao_dois {
    background-color: #fff0b0;
    height: 25vh;
    z-index: 1;
    position: relative;
    color: #377000;    
}
div#cabecalho_secao_dois_inclinacao {
    position: relative;
    background-color: #fff0b0;
    transform: skewy(-3deg);
    height: 20vh;
    margin-top: -75px;
    margin-bottom: 45px;
    z-index: 0;
}

div.banner {
    color: #377000;
    background-color: #fff0b0;
    width: 700px;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    
}
div#banner1 {
    margin-top: 60px;
    animation-name: banner1;
    animation-duration: 0.6s;
    animation-timing-function: linear;    
}
div#banner2 {
    animation-name: banner2;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}
div#banner3 {
    animation-name: banner1;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}
div#banner4 {
    animation-name: banner2;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}
div#banner5 {
    animation-name: banner1;
    animation-duration: 0.6s;
    animation-timing-function: linear;    
}

/* Animação dos banners */
@keyframes banner1 {
    from {
        margin-left: -1095px;
    }
    20% {
        margin-left: -1000px;
    }
    40% {
        margin-left: -800px;
    }
    60% {
        margin-left: -500px;
    }
    80% {
        margin-left: -300px;
    }
    to {
        margin-left: auto;
    }
}
@keyframes banner2 {
    from {
        margin-right: -1095px;
    }
    20% {
        margin-right: -1000px;
    }
    40% {
        margin-right: -800px;
    }
    60% {
        margin-right: -500px;
    }
    80% {
        margin-right: -300px;
    }
    to {
        margin-right: auto;
    }
}

/*NECESSÁRIO POR UM GATILHO PARA A ANIMAÇÃO, O GATILHO NÃO PODE SER O CARREGAMENTO DA PÁGINA*/